.content_box {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card_style_2 {
  margin-left: 10px;
  border: 1px solid #dcdee2;
  margin-bottom: 20px;
  width: 12.5%;
  min-width: 187px;
  min-height: 176px;
  cursor: pointer;
}
.box_header {
  width: 100%;
  height: 51px;
  background: #87ceeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #515a6e;
  border-bottom: 1px solid #e8eaec;
  font-size: 16px;
  font-weight: 700;
}
.box_header > span {
  border-right: 1px solid #6d7486;
  width: 30%;
}
.box_header > div {
  padding: 0 4%;
  font-size: 15px;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.deptName {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.deptName > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}
.card_content {
  padding: 10px;
  overflow-y: auto;
}
.card_content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
}
