.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: red;
  overflow: scroll;
}
.bed {
  width: 15%;
  height: 100px;
  border: 1px solid #dcdee2;
  margin-left: 10px;
  margin-top: 10px;
  min-width: 226px;
  padding: 3px;
  cursor: pointer;
}
.space-align-block .mock-block {
  display: inline-block;
  padding: 32px 8px 16px;
  background: rgba(150, 150, 150, 0.2);
}

.content_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card_style {
  margin-left: 10px;
  border: 1px solid #dcdee2;
  margin-bottom: 20px;
  width: 12.5%;
  min-width: 187px;
  min-height: 165px;
  cursor: pointer;
}
.box_header {
  width: 100%;
  height: 40px;
  background: #87ceeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #515a6e;
  border-bottom: 1px solid #e8eaec;
  font-size: 16px;
  font-weight: 700;
}

.box_header > span {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card_content {
  padding: 4px;
}

.card_content > p {
  display: flex;
}
.card_content > p > span {
  width: 59%;
  text-align: justify;
  text-align-last: justify;
}

.content_box1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card_style1 {
  width: 15%;
  height: 100px;
  border: 1px solid #dcdee2;
  margin-left: 10px;
  margin-top: 10px;
  min-width: 226px;
  padding: 3px;
  cursor: pointer;
  display: flex;
}
.flex_center {
  width: 40%;
  height: 100%;
}
.desc {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
